package components

templ Test() {
	@Layout() {
        <div class="bg-slate-800 min-h-[100vh]">

            <div class="rounded-full p-1 bg-gradient-to-bl from-blue-300 to-red-300">
            <br/>
            </div>
            
        </div>
	}
}
